@inherits LayoutComponentBase

<div class="triangle-container">
    <div class="triangles">
    </div>
</div>
<MudGrid Spacing="0" Class="login-container">
    <MudItem xs="0" sm="2" lg="4" />
    <MudItem xs="12" sm="8" lg="4" Class="login-body pa-2">
        @Body
    </MudItem>
    <MudItem xs="0" sm="2" lg="4" />
</MudGrid>

